.navbar-brand {
  color: #6200EE !important;
  font-size: xx-large;
}

.book-links li {
  font-size: 90%;
}

.CircularProgressbar {
  width: 50% !important;
}

.percent {
  font-size: .75rem;
}

.update-progress {
  background-color: #6200EE;
  border-color: #6200EE;
}